h1
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3
{
    width: 80%;
    margin: 1vh 10% 1vh 10% ;
    font-family: Arial, Helvetica, sans-serif;
    
}

.console p
{
    margin: 1vh 2vw;
    font-size: 3vh;
    font-family:monospace;
    color: greenyellow;
}

button
{
    width: 80%;
    margin: 1vh 10% 1vh 10% ;
}

.button_area
{
    position: fixed;
    top: 1vh;
    left: 1vw;
    bottom: 1vh;
    width: 20vw;
    background-color: burlywood;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.console_area
{
    position: fixed;
    top: 1vh;
    right: 1vw;
    bottom: 1vh;
    width: 77vw;
    background-color: burlywood;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.console
{
    position: fixed;
    top: 3vh;
    right: 2vw;
    bottom: 3vh;
    width: 75vw;
    background-color: darkslategrey;
    border-radius: 1vh;
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

    overflow-y: auto;
}